# MongoDB Connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.9tk0x9j.mongodb.net/polar-ops?retryWrites=true&w=majority&appName=Cluster0

# API Server Configuration
PORT=4000
JWT_SECRET=polar-ops-secret-key-47

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
